.skill-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;

  svg {
    height: 2rem;
  }
}

.skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skill-name {
  width: 6.25rem;
}

@media (max-width: 570px) {
	.skill-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}