$color-primary: #fff;
$color-secondary: #1e222e;

.button {
	position: relative;
	padding: 0.5rem 0.8rem;
	cursor: pointer;
	font-weight: 600;
	font-size: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 2rem;
	transition: 0.5s;
	overflow: hidden;
	min-width: 8.125rem;
	max-width: 10rem;
  z-index: 1;
	&:disabled {
		opacity: .6;
		cursor: auto;
	}
	&.primary {
		color: $color-primary;
		background-color: transparent;
		border: 0.15rem solid $color-primary;
		&::before,
		&::after {
			content: '';
			display: block;
			width: 3.125rem;
			height: 3.125rem;
			transform: translate(-50%, -50%);
			position: absolute;
			border-radius: 50%;
			transition: 1s ease;
			background-color: $color-primary;
      z-index: -1;
		}
		&::before {
			top: -1em;
			left: -1em;
		}
		&::after {
			left: calc(100% + 1em);
			top: calc(100% + 1em);
		}
		&:not(:disabled):hover::before,
		&:not(:disabled):hover::after {
			height: 25.625rem;
			width: 25.625rem;
		}
    &:not(:disabled):hover {
      color: $color-secondary;
    }
	}
	&.secondary {
		color: $color-secondary;
		background-color: transparent;
		border: 0.15rem solid $color-secondary;
		&::before,
		&::after {
			content: '';
			display: block;
			width: 3.125rem;
			height: 3.125rem;
			transform: translate(-50%, -50%);
			position: absolute;
			border-radius: 50%;
			transition: 1s ease;
			background-color: $color-secondary;
      z-index: -1;
		}
		&::before {
			top: -1em;
			left: -1em;
		}
		&::after {
			left: calc(100% + 1em);
			top: calc(100% + 1em);
		}
		&:not(:disabled):hover::before,
		&:not(:disabled):hover::after {
			height: 25.625rem;
			width: 25.625rem;
		}
    &:not(:disabled):hover {
      color: $color-primary;
    }
	}
	&:active {
		filter: brightness(0.8);
	}
}
