.text {
  width: 100%;
  height: max-content;
  display: flex;
  align-items: center;
}

.text.center {
  justify-content: center;
  text-align: center;
}

.text.end {
  justify-content: flex-end;
  text-align: end;
}