.form-email {
  width: 50%;
  border-radius: .5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 768px) {
	.form-email {
    width: 100%;
  }
}
@media (max-width: 900px) {
	.form-email {
    width: 90%;
  }
}