.alert {
  position: fixed;
  top: 1rem;
  right: 1rem;
  display: flex;
  align-items: center;
  min-height: 5rem;
  border-radius: .5rem;
  overflow: hidden;
  z-index: 10000;
  &.success {
    background: #32a85c;
    .icon {
      background: #054605;
      svg {
        fill: #32a85c;
      }
    }
  }
  &.error {
    background: #c94d4d;
    .icon {
      background: #611212;
      svg {
        fill: #c94d4d;
      }
    }
    .messaje {
      color: #fff;
    }
  }
  .icon {
    width: 4.5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .message {
    margin: 1rem;
  }
}