@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;700&display=swap');

:root {
	font-size: 16px;
}

*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
	box-sizing: border-box;
	z-index: 2;
	font-family: 'Poppins', sans-serif;
}

.App {
	background: #000000;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: .5rem;
	overflow: hidden;
	position: relative;
}

.m-16 {
	margin: 1rem;
}
.my-16 {
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.mx-16 {
	margin-left: 1rem;
	margin-right: 1rem;
}

@media (max-width: 768px) {
	:root {
		font-size: 11px;
	}
}
@media (max-width: 1000px) {
	:root {
		font-size: 13px;
	}
}
